*{
    padding: 0;
    margin: 0;
}
body{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: hsl(218, 23%, 16%); /* Just to visualize the extent */
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
}
.card{
    position: absolute;
    width:375px;
    height: 225px;
    overflow: auto;
    background: hsl(217, 19%, 24%); /* Just to visualize the extent */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    z-index: 3;
}
.img{
    width: 20px;
    height: 20px;
}

.img:hover{
    animation: rotation 2s infinite; 
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.card h6{
    color:hsl(150, 100%, 66%);
    margin-top:-150px;
    position: fixed;
    text-transform: uppercase;
}
.card h4{
    margin-top:-25px;
    color:hsl(193, 38%, 86%);
    text-align: center;
    font-family: sans-serif;
    width: 275px;
    position:fixed;

    
}
.dice{
    margin-top:-25px;
    width:35px;
    height: 35px !important;
    margin-top:175px !important;
    z-index: 9;
    background:hsl(150, 100%, 66%);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 75px;
}

.dice:hover{
    cursor:pointer;
    background: lightskyblue;
}


.divider{
    margin-top:100px !important;
    width:275px;
    position: absolute;
}